.searchDiv{
    text-align: center;
}

.inputs > input{
    border: 1px solid rgb(61, 59, 59);
    padding: 0.5%;
}

.inputs > button{
    background-color: rgb(61, 59, 59);
    color: white;
    border: 1px solid rgb(61, 59, 59);
    padding: 0.5%;
}